*{
    padding: 0px;
    margin: 0px;
}

:root{
    --cor1: rgb(39, 39, 39);
    --cor2: rgb(88, 88, 88);
    --cor3: rgba(58, 58, 58, 0.87);
}

@font-face {
    font-family: 'Ubuntu Bold';
    src: url('../fontes/ubuntu-bold.ttf') format(truetype);
}

@font-face {
    font-family: 'Ubuntu Regular';
    src: url('../fontes/ubuntu-regular.ttf') format(truetype);
}

body{
    background-color: var(--cor1);
    margin: 30px;
}

div#aplicacao{
    max-width: 350px;
    min-height: 500px;
    padding: 20px;
    margin: auto;
    border: 2px solid greenyellow;
    border-radius: 10px;
}

h1{
    color: white;
    font-family: 'Ubuntu Bold';
    font-size: 1.5em;
}

div#nova-tarefa{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
}

input{
    width: 205px;
    padding: 10px;
    background-color: var(--cor2);
    font-family: 'Ubuntu Regular';
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    
}

input:focus{
    outline: none;
}

input::placeholder{
    color: var(--cor3);
    font-family: 'Ubuntu Regular';
    font-weight: bold;
}

button#btn-add{
    width: 110px;
    height: 38px;
    padding: 10px;
    background-color: greenyellow;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

button#btn-add:hover{
    outline-offset: 2px;
    outline: 1px solid greenyellow;
}

div.item-tarefa{
    display: flex;
    align-items: center;
    background-color: var(--cor2);
    border-radius: 5px;
    margin: 10px 0px;
    box-shadow: 2px 2px 5px 0px #1e1d1d;
}

div.nome-item{
    width: 70%;
    padding: 20px;
    color: white;
    font-family: 'Ubuntu Regular';
    word-wrap: break-word;
}

div.nome-item:hover{
    cursor: default;
}

div.delete-item{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
}


button.btn-del{
    width: 100%;
    background-color: transparent;
    color: yellowgreen;
    border: none;
    font-size: 30px;
    padding: 10px;
}
